@page "/"

<PageTitle>Home</PageTitle>

<h1>Bataille navale</h1>

@inject GameState gameState

<h3>Game State</h3>
@*<p>Player Score: @gameState.PlayerScore</p>*@
@*<p>Opponent Score: @gameState.OpponentScore</p>*@